.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.jscpd.json
.mega-linter.yml
.yarnrc
dev.sh
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/eslint.config.js
**/renovate.json
**/lwc.config.json
**/*.map
**/*.ts
.github/**
docs/**
!**/sfdx-hardis-logo-square.png
!out/resources/webviews/**
!resources/webviews/**
**/*.png
**/*.gif
node_modules