.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.jscpd.json
.mega-linter.yml
.yarnrc
dev.sh
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
docs/**
!**/sfdx-hardis-logo-square.png
**/*.png
**/*.gif
node_modules