/* SFDX Hardis Config Editor LWC styles */
@import 's/forceLightTheme';

.blue-back {
	background:  #EDF4FF;
}

.slds-badge {
	font-size: 11px;
	padding: 0 6px;
	border-radius: 6px;
}
.slds-text-title_bold {
	font-weight: 600;
}
.slds-align_absolute-center {
	align-items: center;
}

/* Lighter blue for readonly (disabled) and checked toggles */
.slds-checkbox_toggle input[type='checkbox'][disabled][checked] + .slds-checkbox_faux {
	background: #B3D6F6 !important;
	border-color: #B3D6F6 !important;
}