.slds-modal_large .slds-modal__container {
  max-width: 50rem;
}

.slds-text-font_monospace {
  font-family: var(--vscode-editor-font-family, 'Menlo', 'Consolas', 'Courier New', monospace);
  background-color: var(--slds-g-color-neutral-base-95);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  max-width: 100%;
  word-break: break-all;
}
