.slds-modal_large .slds-modal__container {
  max-width: 50rem;
}

.slds-text-font_monospace {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f3f3f3;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: inline-block;
  max-width: 100%;
  word-break: break-all;
}
