---
#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

##################################################
# Start the job when a GitHub release is created #
##################################################
name: "Build & Deploy - RELEASE"
on:
  release:
    # Want to run the automation when a release is created
    types: ["created"]

permissions: read-all

jobs:
  deploy:
    name: Deploy on VsCode MarketPlace
    runs-on: ubuntu-latest
    permissions: read-all
    environment:
      name: release
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: yarn --frozen-lockfile
      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VSCE_TOKEN }}
          yarn: true

  deploy_ovsx:
    name: Deploy on Open VSX
    runs-on: ubuntu-latest
    permissions: read-all
    environment:
      name: release
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: yarn --frozen-lockfile
      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.OPENVSX_TOKEN }}
          registryUrl: https://open-vsx.org
          yarn: true
